/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    color: #FFB3DE;
    font-size: 32px;
    font-weight: bold;
}
nav .navbar-brand:hover
{
    color: #ee87a6;
}

nav .navbar-nav
{
    margin-left: 25px;
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

/* SEARCH */
.search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.search-bar input
{
    width: 50%;
    max-width: 400px;
    min-width: 200px;
    padding: 10px 18px;
    border-radius: 30px;
    border: 1px solid #aaa;
}

.create-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f2f2f2;
    padding: 6px 18px;
    border-radius: 25px;
    cursor: pointer;
}

.create-btn a {
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.create-btn .plus {
    font-size: 18px;
    font-weight: 600;
    margin-right: 6px;
}

.create-btn:hover {
    background-color: #e0e0e0;
}

.active-lib {
    background: black;
    color: white;
    font-weight: bold;
}
.active-lib:hover {
    background-color: #333333;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #F3C6DD;
    color: #1E1E1E;
}

/* GRID */
.section-title {
    margin: 30px 40px;
    font-size: 22px;
}

.food-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 40px 60px;
    margin-top: 40px;
}

.food-card {
    background: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.food-card:hover {
    transform: scale(1.02);
}

.thumbnail img{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.thumbnail{
    height: 180px;
    background: #C46C64;
    border-radius: 10px 10px 0 0;
}

.food-info {
    padding: 15px;
    display: flex;
    justify-content: space-between;
}


/* DETAIL PAGE */
.food-container {
    width: 60%;
    margin: 40px auto;
    background: #F3C6DD;
    padding-bottom: 60px;
}

.food-image img {
    width: 100%;
    height: 100%;
}

.food-image img {
    background: #D9D9D9;
    height: 260px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.food-details {
    padding: 30px;
}

.food-details h1 {
    margin: 0;
    font-size: 36px;
}

.rating.large {
    font-size: 26px;
    margin: 10px 0 25px;
}

.food-details h3 {
    margin-top: 25px;
    font-size: 22px;
}

.food-details p,
.food-details ul,
.food-details ol {
    font-size: 16px;
}

#browsers {
    font-size: 0.9em;
    padding: 5px 10px;
    width: 200px;/
    line-height: 1.2;
    border-radius: 4px;
}

.title{
    display: flex;
    justify-content: space-between;
}


