{% extends "layout.html" %}

{% block main %}

    {% for library in libraries %}
        <div class="create-btn">
            {{ library }}
        </div>
    {% endfor %}

    <div class="food-grid">
        {% for food in list_of_foods %}
                <div class="food-card"
                    onclick='openFood({{ food | tojson }})'>
                    <div class="thumbnail"></div>
                    <div class="food-info">
                        <h3>{{ food.TITLE }}</h3>
                    </div>
                </div>
        {% endfor %}
    </div>

{% endblock %}


<script>
function openFood(food) {
    console.log("Saving food:", food);
    localStorage.setItem("selectedFood", JSON.stringify(food));
    window.location.href = "/food";
}
</script>
